:root {
  --bg-color: rgba(250, 253, 255, 1);
  --title-color: rgba(41, 41, 41, 1);
  --question-color: rgba(51, 51, 51, 1);
  --timer-color: rgba(51, 51, 51, 0.6);
  --text-color: rgba(51, 51, 51, 0.7);

  --btn-color: rgba(73, 150, 187, 1);
  --btn-color-disabled: rgba(73, 150, 187, 0.3);
  --btn-text-color: rgba(255, 255, 255, 1);
  --btn-color-ignore: rgba(190, 190, 190, 1);

  --radio-color: rgba(51, 51, 51, 0.2);
  --radio-checked-color: rgba(2, 171, 248, 1);

  --radio-bg-color: #e8e8e8;
}

.p16-l-r {
  padding-left: 10rem;
  padding-right: 10rem;
}

html {
  height: 100%;
  width: 100%;
}

small {
  font-size: smaller;
  color: var(--timer-color);
}
