.custom-radio {
  cursor: pointer;
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 0.375rem solid #fff;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.5rem;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
  outline-offset: 0;
}

.custom-radio {
  box-shadow: 0 0 0 5px var(--question-color);
}

.custom-radio:hover {
  border-width: 0;
}

.custom-radio:checked {
  box-shadow: 0 0 0 5px var(--question-color);
  background-color: var(--radio-checked-color);
  border-width: 0.65rem;
}
