.custom-radio {
    cursor: pointer;
    /* hiding browser el */
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: .375rem solid #fff;
    background-color: var(--radio-bg-color);
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 0.5rem;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
    outline-offset: 0;
}

.custom-radio {
    box-shadow: 0 0 0 5px var(--radio-color);
}

.custom-radio:hover {
    border-width: 0;
}

.custom-radio:checked {
    box-shadow: 0 0 0 5px var(--radio-checked-color);
    background-color: var(--radio-checked-color);
    border-width: .375rem;

}