.rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.star-icon {
    list-style-type: none;
    border: 1px solid #ffff;
    cursor: pointer;
    color: #ffe500;
    font-size: 10rem;

}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.rating:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}