.main-area__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main-area__user p {
    font-weight: 700;
}

.main-area__alternative-text {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
    margin-bottom: auto;

}

.main-area__alternative-text label {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    font-weight: 700;

}

.main-area__text-area {
    resize: none;
    padding: 2rem;
    border-radius: 0px 30px 30px 30px;
    border: 1px solid #333333;
    height: 15rem;
    width: 40rem;
}